/.vscode
/node_modules
/gitbook/node_modules
/extension/*.js
/extension/**/*.css
/extension/*.css

/extension/.web-extension-id
/web-ext-artifacts/*.zip
/web-ext-artifacts/*.xpi
*.log
*.map
.env
jscpd-report.html