body[data-feature-deletenotdecisionanswers="enabled"] {
  & .remove__all__answers__description {
    font-size: 12px;
  }

  & button.remove__all__answers {
      background: #e85600;
      color: #fff;
      border: 1px solid #d95000;
      border-radius: 5px;
      cursor: pointer;
      display: inline-block;
      font-size: 15px;
      height: 40px;
      outline: 0;
      padding: 10px;
      margin-top: 10px;
      text-transform: uppercase;
      text-align: center;
      text-decoration: none;
      transition: background .2s,
                  border .2s,
                  box-shadow .2s,
                  color .2s;
      user-select: none;
      vertical-align: middle;
      white-space: nowrap;
  }
}